{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <div class="row">
    <div class="col-md-9">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="display-6 lead">{{ post.title }}</h5>
          <h6 class="lead">Creado por: <a href="{% url 'users:profile' post.author.username %}">{{ post.author }}</a></h6><hr>
          {{ post.description|linebreaks }}<hr>
          <p class="card-text text-muted text-end">Creada {{ post.created_at|naturaltime }}</p>
        </div>
      </div>

      {% if post.status.status == 'Cancelada' %}
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Esta publicación esta cancelada</h4>
          <p>{{ post.cancel_comment }}</p>
          <hr>
          <p class="mb-0">{{ post.update_at|naturaltime }}</p>
        </div>
      {% elif post.status.status == 'Suspendida' %}
        <div class="alert alert-secondary" role="alert">
          <h4 class="alert-heading">Esta publicación esta suspendida</h4><hr>
          <p class="mb-0">{{ post.update_at|naturaltime }}</p>
        </div>
      {% endif %}
    </div>
    <div class="col-md-3">
      <img src="{{ post.get_photo }}" alt="" class="img-thumbnail mb-3">

      <div class="row mb-3">
        <div class="d-grid gap-2">
          {% if user == post.author %}
            {% if post.status.status == 'Cancelada' %}
              <button disabled="disabled" class="btn btn-danger">Publicacion cancelada</button>
            {% else %}
              <a href="{% url 'posts:update' post.id %}" class="btn btn-outline-primary" type="button">Editar publicación</a>
              <a href="{% url 'posts:cancel' post.id %}" class="btn btn-outline-danger" type="button">Cancelar publicación</a>
            {% endif %}
          {% else %}
            <a href="#  " class="btn btn-outline-primary" type="button">Postularme</a>
          {% endif %}
        </div>
      </div>

      <div class="row text-center">
        <table class="table-boderless table-responsive">
          <tbody>
            <tr>
              <td class="lead">{{ post.pet_name }}</td>
            </tr>
            <tr>
              <td class="lead">{{ post.pet_age }} años (aprox.)</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row text-center">
        <div class="card border-0">
          <div class="card-body">
            <p class="lead">Categoria: <a href="#">{{ post.category }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}