{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="{% static 'bootstrap/icons/bootstrap-icons.css' %}">

  <title>
    {% block title %}{% endblock %}
  </title>
</head>
<body>
  <!-- Nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Adopt.ar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          {% else %}
          {% endif %}
        </ul>
        <div class="d-grid gap-2 d-md-block">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'admin:index' %}">Panel de administración</a>
                    </li>
                {% endif %}

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                  </a>
                  <ul class="dropdown-menu dropdown-menu-lg-end text-center" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">
                        Cerrar sesión
                      </button>
                    </li>
                  </ul>
                </li>

                <!-- Modal -->
                <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ¿Quiere cerrar su sesión?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a type="button" class="btn btn-danger" href="{% url 'users:logout' %}">Cerrar sesión</a>
                      </div>
                    </div>
                  </div>
                </div>
            
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Ingresar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">Registrarse</a>
              </li>
            {% endif %}
           </ul>
        </div>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock content %}

  <!-- Bootstrap JS -->
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>