{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md">
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="display-5 lead text-center">Actualizar perfil</h2>
          <hr>

          <form method="post" id="updateUser" data-cities-url="{% url 'users:ajax_load_cities' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md">
                <div class="form-group mb-3">
                  <label for="{{ form.first_name.html_name }}" class="form-label lead">{{ form.first_name.label }}:</label>
                  {{ form.first_name|add_class:'form-control' }}
                </div>

                <div class="form-group mb-3">
                  <label for="{{ form.last_name.html_name }}" class="form-label lead">{{ form.last_name.label }}:</label>
                  {{ form.last_name|add_class:'form-control' }}
                </div>

                <div class="form-group mb-3">
                  <label for="{{ form.province.html_name }}" class="form-label lead">{{ form.province.label }}:</label>
                  {{ form.province|add_class:'form-select' }}
                </div>

                <div class="form-group mb-3">
                  <label for="{{ form.city.html_name }}" class="form-label lead">{{ form.city.label }}:</label>
                  {{ form.city|add_class:'form-select' }}
                </div>

                <div class="form-group mb-3">
                  <label for="{{ form.avatar.html_name }}" class="form-label lead">{{ form.avatar.label }}:</label>
                  {{ form.avatar|add_class:'form-control' }}
                </div>
              </div>

              <div class="col-md">
                <div class="form-group mb-3">
                  <label for="{{ form.username.html_name }}" class="form-label lead">{{ form.username.label }}:</label>
                  {{ form.username|add_class:'form-control' }}
                </div>

                <div class="form-group mb-3">
                  <label for="{{ form.email.html_name }}" class="form-label lead">{{ form.email.label }}:</label>
                  {{ form.email|add_class:'form-control' }}
                </div>

                <div class="form-group mb-3">
                  <label for="{{ form.description.html_name }}" class="form-label lead">{{ form.description.label }}:</label>
                  {{ form.description|add_class:'form-control' }}
                </div>

                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="submit">Actualizar</button>
                  <span class="text-center">
                    <a class="btn btn-link" href="{% url 'users:profile' user.username %}">Volver</a>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script>
      $("#id_province").change(function (){
        var url = $("#updateUser").attr("data-cities-url");
        var provinceId = $(this).val();

        $.ajax({
          url: url,
          data: {
            'province': provinceId
          },
          success: function(data) {
            $("#id_city").html(data)
          }
        });
      });
    </script>
{% endblock js %}
